


 <button routerLink = "" routerLinkActive = "active" class="btn btn-primary home_button" >
    Home
  </button>
  <div class="container">
          <p>Welcome to world of Pokemon...!!!</p>
      <table class="table table-hover table-dark">
          <thead class="thead-light">
            <tr>
              <th scope="col" >#</th>
              <th scope="col">Character</th>
              <th scope="col">Image</th>
              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor ="let character of characters">
                  <td class="no">{{character.id}}</td>
  
                  
                  <td class = "character_name" (click)="google(character)"  > 
                    <!-- {{character.name}} -->
                  
                            <tr>
                              <td>
                                <div class="card" height ='100' width = '175.33'>
                                  
                                  <div class="card-body table-dark">
                                    <h5 class="card-title" >{{character.name}}</h5>
                                    <p class="card-text">{{character.about}}</p>
                                    <a 
                                href="https://www.google.com/search?q={{character.name}}+Pokemon&rlz=1C1GCEV_enUS856US856&oq={{character.name}}+Pokemon&aqs=chrome..69i57j0l2j69i60l3.2485j0j7&sourceid=chrome&ie=UTF-8&safe=active&ssui=on" 
                                      class="btn btn-light" 
                                      target='_blank'>
                                        More Info 
                                    </a>
                                  </div>
                                  
                                </div>
                              </td>
                            </tr>
                  
                  </td>
                  <td > <img src={{character.img}} height ='170' width = '110'  alt="{{character.name}}" (click)="google(character)"> </td>
              
              </tr>
              
          </tbody>
        </table>
  <script>
   
  </script>